/* Container for the whole page content */
.page-container {
    width: 90%; /* Adjust as needed */
    max-width: 1200px; /* Optional: limit max width */
    margin: 20px auto; /* Center the container */
    text-align: center; /* Center text within the container */
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: inline-block;
}

.card img {
    max-width: 100%;
    height: auto;
}

.pagination {
    margin-top: 20px;
    width: 100%;
}

.pagination a {
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin: 0 5px;
    text-decoration: none;
}

.popup {
    display: none;
    position: fixed;
    top: 50px;
    left: 50px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
}

/* Compact filter */
#filter-container {
    display: flex;
    justify-content: center; /* Center the filter elements */
    margin-bottom: 10px;
}

#filter-container input[type="text"],
#filter-container select,
#filter-container button {
    margin: 5px; /* Reduced margins */
    padding: 5px 10px; /* Reduced padding */
}

#cardDisplay, #searchResults {
    text-align: center;
}