<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ card.name }} - Marvel Snap Comic Explorer</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <div class="card-detail-container">
        <h1>{{ card.name }}</h1>
        <a href="{{ url_for('index') }}" class="back-link">&larr; Back to Main Page</a>
        <table>
            <tr>
                <th>Image</th>
                <th>Cost</th>
                <th>Power</th>
                <th>Type</th>
                {% if card.alternate_art %}
                <th>Alternate Art</th>
                {% endif %}
                <th>Status</th>
            </tr>
            <tr>
                <td>
                    <img src="{{ url_for('static', filename=card.art) }}" alt="{{ card.name }}" style="max-width: 300px;">
                    {% if card.ability %}
                    <p>{{ card.ability }}</p>
                    {% elif card.flavor %}
                    <p>{{ card.flavor }}</p>
                    {% endif %}
                </td>
                <td>{{ card.cost }}</td>
                <td>{{ card.power }}</td>
                <td>{{ card.type }}</td>
                {% if card.alternate_art %}
                <td>{{ card.alternate_art }}</td>
                {% endif %}
                <td>{{ card.status }}</td>
            </tr>
        </table>

        <h2>Variants:</h2>
        <div style="display: flex; flex-wrap: wrap;">
            {% if card.variants %}
                <div class="variant-images">
                    {% for variant in card.variants %}
                        <a href="{{ url_for('variant_detail', variant_id=variant.variant_id) }}">
                            <img src="{{ url_for('static', filename=variant.variant_image) }}"
                                alt="{{ card.name }} Variant #{{ variant.vid }}"
                                style="max-width: 150px; height: auto; margin-right: 10px;">
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <p>No variants available for this card.</p>
            {% endif %}
                </div>
    </div>
</body>
</html>